.container {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 10% 2fr 1fr 10%;
  grid-template-areas: 
  "header header header"
  "upper-left upper-center upper-right"
  "lower-left lower-center lower-right"
  "footer footer footer";
  background-color: var(--color-primary);
  height: 100vh;
  width: 100vw;
}

.title {
  grid-area: header;
  font-size: 3rem;
  margin: 10px;
  color: var(--color-secondary);
  font-weight: 600;
}

.button {
  grid-area: lower-center;
  align-items: center;
}